###> symfony/framework-bundle ###
/.env.test
/.env.test.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
#Ignore vscode AI rules
.github/instructions/codacy.instructions.md

###> lexik/jwt-authentication-bundle ###
#/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
.DS_Store
**/.DS_Store